<form method="POST" action="{{ url_for('add_users') }}">
  <fieldset>
    <h3 class="edit_perfil" style="text-align: center; margin-bottom: 30px;">Agregar usuario</h3>
    <hr>
    <div class="form-group"></div>
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required class="form-control">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required class="form-control">

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" class="form-control">

    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" class="form-control">

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" class="form-control">

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" class="form-control">

    <label for="genero">Género:</label>
    <select class="form-select" name="genero" id="genero" required>
        <option value="">Seleccione...</option>
        {%for generos in listaGeneros%}
        <option value="{{ generos[0] }}">{{ generos[1]}}</option>
        {% endfor %}
    </select>
    
    <label for="plan_trab">Plan de trabajo:</label>
    <select class="form-select" name="plan_trab" id="plan_trab" required>
      <option value="">Seleccione...</option>
        {%for planes_trabajo in planes_trabajo%}
        <option value="{{planes_trabajo[0]}}">{{planes_trabajo[1]}}</option>
        {% endfor %}
    </select>

    <label for="rol">Rol:</label>
    <select class="form-select" name="rol" id="rol" required>
      <option value="">Seleccione...</option>
        {% for roles in roles %}
        <option value="{{roles[0]}}">{{roles[1]}}</option>
        {% endfor %}
        
    </select>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required class="form-control">


    <hr>
</fieldset>

    <button type="submit" class="btn btn-primary btn-block">Añadir Usuario</button>
    <a href="{{ url_for('manage_users') }}" class="btn btn-primary btn-block">Volver</a>
  </div>
</form>