{% include 'main.html' %}
    {% include 'Administrator/menu.html' %}
    <div class="contenedor_opciones">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <button class="opt_admin" onclick="window.location.href='users-manage'" onclick="getListMachine()" style="background: #3D7BB3; cursor: pointer;">
                    <img class=" icons_admin" src="../../static/img/cliente.png" alt="" width="60px">
                    <h5 class="title_section_admin">Cantidad de <br> Miembros</h5>
                            <p class="title_section_admin">{{lista_miembros}}</p>
                </button>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <button onclick="window.location.href='users-manage'" class="opt_admin" style="background: #57B4A3; cursor: pointer;">
                    <img src="../../static/img/entrenador_gym.png" alt="" width="60px">
                    <h5 class="title_section_admin">Cantidad de <br> Instructores</h5>
                        <p class="title_section_admin">{{cant_entrenadores}}</p>
                </button>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <button onclick="window.location.href='manage-machine'" class="opt_admin" style="background: #EB8025; cursor: pointer;">
                    <img src="../../static/img/maquina.png" alt="" width="60px">
                    <h5 class="title_section_admin">Inventario de <br> Máquinas </h5>
                    <p class="title_section_admin">{{conteo_maquinas}}</p>
                </button>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="opt_admin" style="background: #E85857;">
                    <img src="../../static/img/salario_entrenador.png" alt="" width="60px">
                    <h5 class="title_section_admin">Gestión de <br> nómina </h5>
                    <p class="title_section_admin">{{conteo_empleados}}</p>
                </div>
            </div>
        </div>
    </div> 
    <div class="contenedor_opciones">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <button onclick="window.location.href='create-class'" class="opt_admin" style="background: #8CA303; cursor: pointer;">
                        <img src="../../static/img/reservas.png" alt="" width="60px">
                        <h5 class="title_section_admin">Gestión de <br> clases</h5>
                            <p class="title_section_admin">{{conteo_reserva}}</p>
                </button>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="opt_admin" style="background: #8F81FF;">
                    <img src="../../static/img/proveedores.png" alt="">
                    <h5 class="title_section_admin">Gestión <br> Proveedores</h5>
                    <p class="title_section_admin">{{conteo_proveedores}}</p>
                </div>
            </div>
        </div>
    </div> 
