<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Usuarios</title>
    <link rel="stylesheet" type="text/css" href="..\static\CSS\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <script src="../../static/index.js"></script>
</head>


<body >
    {% include 'Administrator/menu.html' %}

        <h3 style="text-align: center; color: #000; margin-top: 3%;"> <b>GESTIÓN DE USUARIOS</b> </h3>
        <div class="contenedor-gestion" style="display: flex; justify-content: center; justify-items: center; padding-bottom: 2%;">
            <div class="" style="display: inline-flex; margin: auto; margin-top: 2%;">

                <!-- Botón para ir a la lista de usuarios -->
                <button onclick="getListUsers()" class="btn btn-warning btn-block"
                    id="listadomiembro">Listado Usuarios</button>

                <!-- Botón para ir a la página de añadir usuario -->
                <a style="margin-left: 10px;" href="{{ url_for('add_users') }}" class="btn btn-warning btn-block" id="AñadirUsuario">Añadir
                    Miembro</a>

                <!-- Botón para ir a la página de Buscar usuario -->
                <a style="margin-left: 10px;" href="#" class="btn btn-warning btn-block" id="BuscarMiembro">Buscar
                    Miembro</a>

                <!-- Botón para ir a la página de Editar usuario -->
                <a style="margin-left: 10px;" href="#" class="btn btn-warning btn-block" id="EditarMiembro">Editar
                    Miembro</a>
                <br>
                <br>
                <!-- Botón para ir a la página de estado usuario -->
                <a style="margin-left: 10px;" href="#" class="btn btn-warning btn-block" id="EstadoUsuario">Estado de
                    Miembros</a>
            </div>
        </div>
        <table border="1" id="miembrosTabla">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <!-- Las filas se agregarán dinámicamente aquí -->
            </tbody>
          </table>

        </div>
        </div>
</body>
</html>