<li><a href="{{ url_for('administrator') }}" id="selected">Inicio</a></li>
<li><a href="#">Servicios</a>
    <ul>
        <li><a href="{{ url_for('manage_users') }}">Gestión de usuarios</a></li>
        <li><a href="{{ url_for('manage_machine') }}">Gestión de máquinas</a></li>
        <li><a href="{{ url_for('mostrar_formulario_nomina') }}">Gestión de nómina</a></li>
        <li><a href="#">Gestión de membresías</a></li>
        <li><a href="{{ url_for('view_provider') }}">Gestión de proveedores</a></li>
        <li><a href="{{ url_for('profile', rol=session['rol'].lower()) }}">Perfil</a></li>
    </ul>
</li>

