{% include 'main.html' %}
{% include 'Administrator/menu.html' %}
<div class="background-container">
    <div class="container-class">
        <h2>GESTIÓN DE CLASES</h2>
        <div class="button-group">
            <button class="btn btn-create" onclick="window.location.href='create-class'">
                <i class="fa-solid fa-plus"></i> Crear Clase
            </button>

            <button class="btn btn-delete" onclick="window.location.href='delete-class'">
                <i class="fa-solid fa-trash-can"></i> Eliminar Clase
            </button>
        </div>
    </div>
</div>
