{% include 'main.html' %}
        <div class="content-container">
            <div class="col-md-80 p-4">
                <h1>Búsqueda de Usuarios</h1>
                <br>
                <div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <label for="busqueda">Buscar por Identificación:</label>
                          <br>
                          <input inputmode="numeric" id="busqueda_usuario" name="busqueda_usuario" min="0" max="10" required>
                          <button type="submit" onclick="getSearchUsers()">
                              <img src="../../static/img/buscar.png" alt="" width="20px" style="margin-top: -8%;">
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- <a href="{{ url_for('manage_users') }}" class="btn btn-primary btn-block">Volver</a> -->
                    <table style="margin: auto; margin-top: 10px;" border="1" id="busquedaUsuarios">
                        <thead>
                          <tr>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Género</th>
                            <th>Plan de trabajo</th>
                            <th>Rol</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
            </div>
        </div>

