<!-- Tabla para Actualización -->
<div>
    <h2>Tabla de Actualización</h2>
    <table border="1" id="actualizacionMembresia">
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Membresía</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los datos se cargarán dinámicamente aquí -->
        </tbody>
    </table>
</div>

<!-- Modal para mostrar detalles de la membresía -->
<div class="modal fade" id="updateMembresia" tabindex="-1" aria-labelledby="updateMembresiaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Membresía</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="asignarMembresiaForm" method="POST" action="{{ url_for('update_membreship') }}">
                    <input type="hidden" name="id_user_update" id="id_user_update"> <!-- Campo oculto para usuarioId -->
                    <input type="hidden" name="id_membresia_usuario" id="id_membresia_usuario"> <!-- Campo oculto para id_membresia_usuario -->
                    <fieldset>
                        <div class="form-group">
                            <label for="tipoMembresia">Tipo de Membresía:</label>
                            <select class="form-select" name="tipoMembresia" id="tipoMembresia" required>
                                <option value="">Seleccione...</option>
                                {% for tipo in membresias %}
                                <option value="{{ tipo[2] }}" data-costo="{{ tipo[1] }}">{{ tipo[0] }} - {{ tipo[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio">Fecha Inicio:</label>
                            <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFin">Fecha Fin:</label>
                            <input type="date" class="form-control" name="fechaFin" id="fechaFin" required>
                        </div>
                        <div class="form-group">
                            <label for="estadoMembresia">Estado:</label>
                            <select class="form-control" name="estadoMembresia" id="estadoMembresia" required>
                                <option value="">Seleccione...</option>
                                {% for estado in estado_membresia %}
                                <option value="{{ estado[0] }}">{{ estado[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    <a href="{{ url_for('manage_users') }}" class="btn btn-secondary btn-block">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>
