{% include 'main.html' %}
{% include 'member/menu.html' %}


                <form class="formulario_reserva" id="reserva-form">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" required>
        
                    <label for="hora">Hora:</label>
                    <input type="time" id="hora" required>
        
                    <label for="maquina">Máquina:</label>
                    <select id="maquina" required>
                        <!-- Opciones llenadas dinámicamente con JS -->
                    </select>
        
                    <button type="submit">Reservar</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h2>Reservas Actuales</h2>
                <table class="tabla_reservas_maquina" id="reservas-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Máquina</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Reservas llenadas con JS -->
                    </tbody>
                </table>
            </div>
        </div>

       

    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
  