<header>
    <div class="container__menu">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="{{ url_for('administrator') }}" id="selected">Inicio</a></li>
                        <li><a href="#">Servicios</a>
                            <ul>
                                <li><a href="{{ url_for('profile_member') }}">Perfil</a></li>
                                <li><a href="#">Reservas</a></li>
                                <li><a href="#">Planes de trabajo</a></li>
                                <li><a href="#">Membresia</a></li>
                                <li><a href="#">Mi proceso</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contactos</a></li>
                        <!-- <li class="admin">
                            <h6>Admin</h6>
                        </li>
                        <li class="user"><img src="/static/img/ic_person.png" alt=""></li> -->
                        <li style="position: absolute; right: 5px; top: 5px; height: 55px;"><a href="{{ url_for('login') }}">Salir</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>