{% include 'main.html' %}
{% include 'member/menu.html' %}

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-3">
            <img class="img_user" style="height:200px; width:200px" src="/static/img/entrenador_4.png" alt="">
        </div>
        <div class="col-md-9" style="background: #F6F6F6;">
            <h3>Plan de trabajo</h3>
            <p>{{plan_trabajo}}</p>
            <h3>Plan</h3>
            <p>{{membresia.0}}</p>
            <h3>Estado de la membresia</h3>
            <p>{{membresia.1}}</p>
        </div>
    </div>
</div>