{% extends "base.html" %}

{% block menu %}
    {% include carpeta_rol + '/menu.html' %}
{% endblock %}

{% block content %}

<div class="container my-5" style="margin-top: -300px !important;">
  <h3 class="text-center mb-4 text-dark font-weight-bold">Gestión de Accesos e Instructores</h3>
  
  <div class="row justify-content-center">
    <!-- Card Registro de Accesos -->
    <div class="col-md-4 mb-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <i class="fas fa-door-open fa-3x text-warning mb-3"></i>
          <h5 class="card-title">Registro de Accesos</h5>
          <button type="button" data-toggle="modal" data-target="#searchUser" class="btn btn-warning btn-block mt-2">
            Gestionar
          </button>
        </div>
      </div>
    </div>

    <!-- Card Asignación de Instructores -->
    <div class="col-md-4 mb-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <i class="fas fa-user-friends fa-3x text-warning mb-3"></i>
          <h5 class="card-title">Asignación de Instructores</h5>
          <button onclick="assign_coach()" data-toggle="modal" data-target="#asignacionEntrenador" class="btn btn-warning btn-block mt-2">
            Gestionar
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <i class="fas fa-door-open fa-3x text-warning mb-3"></i>
          <h5 class="card-title">Registrar salidas</h5>
          <button onclick="cargarAccesosActivos()" data-toggle="modal" data-target="#modalUsuariosActivos" class="btn btn-warning btn-block mt-2">Desactivar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Registro de Accesos -->
<div class="modal fade" id="searchUser" tabindex="-1" aria-labelledby="searchUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Registro de Accesos</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Aquí incluyes el contenido del formulario -->
        <div class="form-group">
          <label for="cedula">Ingrese cédula:</label>
          <input type="text" class="form-control" id="cedula" placeholder="Número de cédula">
        </div>
        <button onclick="registrarIngreso()" class="btn btn-warning btn-block mb-3">Buscar</button>
        
        <!-- Aquí se pinta el resultado con JS -->
        <div id="resultadoIngreso" class="mt-3"></div>

      </div>
    </div>
  </div>
</div>

<!-- Modal Asignación de Instructores -->
<div class="modal fade" id="asignacionEntrenador" tabindex="-1" aria-labelledby="asignacionEntrenadorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Asignar Entrenador</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'receptionist/assign_coach.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="guardarCambios()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Usuarios Activos -->
<div class="modal fade" id="modalUsuariosActivos" tabindex="-1" aria-labelledby="modalUsuariosActivosLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Usuarios con Acceso Activo</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'receptionist/list_access.html' %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
