{% include 'receptionist/main2.html' %}
{% include 'receptionist/menu.html' %}


<div class="container my-5">
  <h3 class="text-center mb-4 text-dark font-weight-bold">Gestión de Accesos e Instructores</h3>
  
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <i class="fas fa-door-open fa-3x text-warning mb-3"></i>
          <h5 class="card-title">Registro de Accesos</h5>
          <button type="button" data-toggle="modal" data-target="#searchUser" class="btn btn-warning btn-block mt-2">
            Gestionar
          </button>
        </div>
      </div>
    </div>


    <div class="col-md-4 mb-4">
      <div class="card text-center shadow">
        <div class="card-body">
          <i class="fas fa-user-friends fa-3x text-warning mb-3"></i>
          <h5 class="card-title">Asignación de Instructores</h5>
          <button onclick="assign_coach()" data-toggle="modal" data-target="#asignacionEntrenador" class="btn btn-warning btn-block mt-2">
            Gestionar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchUser" tabindex="-1" aria-labelledby="searchUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Registro de Accesos</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'receptionist/register_access.html' %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="asignacionEntrenador" tabindex="-1" aria-labelledby="asignacionEntrenadorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Asignar Entrenador</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'receptionist/assign_coach.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="guardarCambios()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
