<div class="content-container">
    <div class="col-md-80 p-4">
        <h1>Registro de Ingreso al Gimnasio</h1>
        <br>
        <div>
            <label for="cedula">Ingrese su cédula:</label>
            <input type="text" id="cedula" name="cedula" required>
            <button type="button" onclick="registrarIngreso()">
                <img src="../../static/img/buscar.png" alt="Buscar" width="20px">
            </button>
        </div>

        <div>
            <h2>Datos del Usuario</h2>
            <div id="resultadoIngreso" style="margin-top: 10px;"></div> 
        </div>

        <!-- Contenedor donde se mostrará el botón dinámico Activar/Desactivar -->
        <div id="accionesAcceso" style="margin-top: 20px;"></div>
    </div>
</div>
